<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
        <meta property="twitter:card" content="summary_large_image">
        <meta property="twitter:site" content="@researchapps">
        <meta property="og:site_name" content="HelloWorldFTW">
        <meta property="og:title" content="HelloWorldFTW">
        <meta property="og:image" content="">
        <meta property="og:description" content="Hello World FTW is an example of using containers to assses differences in metrics.">
        <meta property="og:url" content="https://www.github.com/containers-ftw/hello-world-ftw">

        <title>Container FTW Generator</title>

        <link href="css/bootstrap.css" rel="stylesheet">
        <link href="css/font-awesome.css" rel="stylesheet">
        <link rel="stylesheet" href="css/style.css" />
          
    </head>

    <body>

    <div id="nav" class="row" style="padding-bottom:20px">
        <div class="col-md-12">
            <a class="navbar-brand" 
               href="http://oss.stanford.edu" 
               style="padding:8px 8px;">
               <img src="img/logo.png" height=35>
            </a>

            <!-- Top Navigation to show user where they are -->
            <nav v-bind:class="active">
                <a href="#" class="generate" 
                            style="font-weight:800" 
                            v-on:click="makeActive('generate')">Singularity Recipe Maker</a>
                <a style="float:right; padding:10px 15px 0px 0px;" 
                   href="https://www.github.com/containers-ftw/hello-world-ftw" 
                   target="_blank"><i class="fa fa-2x fa-github"></i></a>
            </nav>

            <p style="display:none">You chose <b>{{ active }}</b></p>
            <p style="margin:0px" id="message" class="alert alert-danger" v-if="message">{{ message }}</p>
            <p style="margin:0px" id="warning" class="alert alert-info" v-if="warning">{{ warning }}</p>

        </div>

    </div>

    <div class="container" id="main">

    <!-- Icons -->
    <div class="row" style="padding-bottom:20px">        
        <div class="col-md-6">
            <h2 class="center"><i class="fa fa-code blue"></i></h2>
            <small class="grey">Select apps to generate your container on the right</small>
        </div>
        <div class="col-md-6">
            <h4 style="padding-top:40px" v-if="recipe">{{ recipe }}</h4>
        </div>
    </div>

    <!-- Information -->
    <div class="row">


        <!-- USER CONFIGURATION -->
        <div class="col-md-6" id="sections-group">

            <!-- Languages -->  
            <ul class="list-group" 
                id='languages-list' 
                v-show="languages">
                <li class="list-group-item"
                    v-on:click="addFeature"
                    v-for="language in languages">
                    {{ language }}
               </li>
            </ul>

        </div>

    
        <!-- SCRIPT GENERATION -->
        <div class="col-md-6">
            <div id="output-group" class="form-group">
                <textarea v-model='output'
                          class="form-control" 
                          rows="15" 
                          id="script-output" 
                          style="resize: vertical" 
                          readonly="true">{{ output }}</textarea>
            </div>


            <!-- Script Name -->
            <div id="script-group" class="form-group">
                <label class="control-label">Container: {{ container_name }}</label>
                <span class="help-block">Specify the name of the container.</span>
                <input v-model.trim="container_name" 
                       id="script-text" 
                       type="text" 
                       class="form-control" 
                       value="container.ftw">
            </div>

            <!-- Recipe Name -->
            <div id="recipe-group" class="form-group">
                <label v-if="recipe" class="control-label">Recipe: {{ recipe }}</label>
                <label v-else="recipe" class="control-label">Recipe: Singularity</label>
                <input v-model.trim="recipe"
                       id="recipe-text" 
                       type="text" 
                       class="form-control">
            </div>

        </div>

    </div>

                                        
    <!-- Take me home, country road... to the top... where i belong!-->
    <button v-on:click="generateScript()" 
            title="generateJump"
            value="Generate Script"
            id="generateJump"
            class="btn btn-secondary">
            Generate</button>

    <div id="robot" style="display:none">
        <img src="img/robot.png" width="200px">
    </div>

    <br><br>

    <hr>

</div>

    <!--  Scripts-->
    <script src="js/jquery-2.1.1.min.js"></script>
    <script src="js/vue.min.js"></script>
    <script src="js/script.js"></script>

</body>
</html>
